package gospark

const (
	UserName          = "YOUR_EMAIL@ADDRE.SS"
	Password          = "YOUR_PASSWORD"
	BasicAuthId       = "spark"
        BasicAuthPassword = "spark"
        DefaultDeviceID   = "YOUR_DEFAULT_DEVICE_ID"
)
